.whole {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.submit {
  margin-bottom: 3rem;
  display: flex;
  width: 20rem;
  justify-content: space-evenly;
}

td {
  text-align: center;
  font-size: large;
}

table {
  width: 25rem;
}

body {
  background: url('./background.jpg');
  background-size: cover;
}

button {
  font-size: large;
}